body {
	background-color: #f9feff;
	margin: 0;
}


nav {
	background-image: linear-gradient(darkslategray, black);
	padding: 0.5em;
	display: flex;
	align-items: center;
	box-shadow: #2e2e2ed5 0px 0px 10px;
	position: relative;
    border-bottom: solid 5px lightsteelblue;
}

footer {
    background-color: darkslategrey;
    color: white;
    text-decoration-line: none;
	font-family: sans-serif;	
	text-align: center;
    margin: 0px;
	padding: 7px;
	display: block;
	position: relative;
	bottom: -50vh;
}

.footlink:visited, .footlink {
	color: white;
	text-decoration-line: none;
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: lighter;
	font-size: 5vw;
	color: darkslategrey;
	text-shadow: darkslateblue 0px 0px 3px;
	line-height: 140%;
	position: relative;
	top: 30vh;
	left: 100px;
	width: 60%;
}

.background {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.979)), url('textures/uhcyt2.png') no-repeat center center;
	margin: -90px 0px;
	height: 90vh;
}

.background2 {
	background: linear-gradient(to bottom, rgba(250, 251, 252, 0), rgba(125, 171, 224, 0.979), rgb(161, 198, 228), rgb(34, 123, 197), rgba(255, 255, 255, 0.979)), no-repeat center center;
	margin: -90px 0px;
	height: 350vh;
	padding: 18%;
	position: relative;
	top: 150px;
}

.fag {
	font-size: 2.5vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	float: left;
	padding: 2vh;
	margin: 10px 20px;
	display: block;
	border: solid darkslategray 0.2vw;
	border-radius: 4px;
}

.arbplan {
	box-shadow: inset slateblue 60px, 50px;

}

.plan {
	color:rgb(54, 61, 126);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 5vh;
	width: 124.3vh;
	height: 91.9vh;
	position: relative;
	top: 0px;
	margin-top: 30px;
}

.light {
	color: #D9F0FC;
}

#plan {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 5vh;

}

.navtext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 20px
}

.logo {
    padding-left: 10px;
    padding-right: 40px;
}

#arrow {
	color: darkslategrey;
	text-shadow: darkslateblue 0px 0px 3px;
	position: relative;
	left: 50%;
	bottom: -5vh;
	font-size: 90px;
	width: 19px;
}

#news {
	margin: auto;
	padding-bottom: 2vh;
	color:black;
	font-family: sans-serif;
	font-size: 1vw;
}

#newslogo {
}

#title {
	color: #474e5d;
	font-family: sans-serif;
	font-size: 1.5vw;
	padding-left: 100px;
	padding-right: 100px;
}

#text {
	color: #474e5d;
	font-family: sans-serif;
	font-size: 1.5vw;
	padding-left: 100px;
	padding-right: 100px;

}

.column {
	float: left;
	width: 16.3%;
	margin: 12px;
	font-family: sans-serif;
	font-size: 0.78vw;
  }
  
  .box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 2vw
  }
  
  .about {
	font-family: sans-serif;
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
  }
  
	.row {
	justify-content: center;
	clear: both;
	display: flex;
	height: 0px;
  }
  
  .title {
	color: grey;
  }

  .bl, .bl:active {
	font-size: 18px;
	text-align: center;
	float: left;
	display: flex;
	align-items: center;
	padding: 1% 2% 1% 1%;
	margin: 5px;
  }

button {
    padding: 1px 8px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 0 0 1px #707070;
    border-radius: 3px;
    background: linear-gradient(top, #F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
	background: -moz-linear-gradient(top, #F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    font: normal 12px sans-serif;
    color: black;
    text-decoration: none;
}
button:hover {
    border: 1px solid #ECF7FD;
    box-shadow: 0 0 0 1px #3C7FB1;
    background: -moz-linear-gradient(top, #EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
	background: linear-gradient(top, #EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
	background: -webkit-linear-gradient(top, #EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
}
button:active {
	padding-bottom: 2px;
    border: 1px solid #73A7C4;
    border-bottom: 0;
    box-shadow: 0 0 0 1px #2C628B;
    background: -moz-linear-gradient(top, #E5F4FC 0%, #C4E5F6 50%, #98D1EF 51%, #68B3DB 100%);
	background: linear-gradient(top, #E5F4FC 0%, #C4E5F6 50%, #98D1EF 51%, #68B3DB 100%);
	background: -webkit-linear-gradient(top, #E5F4FC 0%, #C4E5F6 50%, #98D1EF 51%, #68B3DB 100%);
}

table {
	width: 7.8e+2.4pt;
	max-width: 62.4vw;
}

tbody {
	max-width: 50vw;
	table-layout: fixed;
}

td, th {
	border: solid black 1px;
	background-color: #f9f9f9;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5vh;
}


.kontakt {
	position: relative;
	bottom: 0vh;
	margin: auto;
	text-align: center;
}

@media only screen and (max-width:800px) {

	.background {
		padding-top: 80px;
	}

	#navtime {
		display: none;
	}

}